*, *:before, *:after {
    box-sizing: border-box;
 }
body{
    right:2px;
    background-color: white;
}
  html {
    font-size: 16px;
 }
  .bus {
    margin: 20px auto;
    max-width: 300px;
    transform: rotate(270deg);
    margin-top: 3px;
    background-color: rgb(20, 18, 18);
    
 }

  .exit {
    position: relative;
    height: 50px;
 }
  .exit:before, .exit:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 2px;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: block;
    position: absolute;
    background: rgb(146, 28, 38);
    color: white;
    top: 50%;
    transform: translate(0, -50%);
 }
  .exit:before {
    left: 0;
 }
 
  .fuselage {
    border-right: 5px solid rgb(95, 92, 89);
    border-left: 5px solid rgb(95, 92, 89);
    background-color:rgb(95, 92, 89);

 }
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
 }
  .seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
 }

 
  .seat {
    display: flex;
    flex: 0 0 14.2857142857%;
    padding: 5px;
    position: relative;
    transform: rotate(90deg);


 }
  .seat:nth-child(3) {
    margin-right: 14.2857142857%;
 }
  .seat input[type=checkbox] {
    position: absolute;
    opacity: 0;
 }
  .seat input[type=checkbox]:checked + label {
    background:rgb(9, 136, 5);
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
 }
  .seat input[type=checkbox]:disabled + label {
    background: #ddd;
    text-indent: -9999px;
    overflow: hidden;
 }
  .seat input[type=checkbox]:disabled + label:after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
 }
  .seat input[type=checkbox]:disabled + label:hover {
    box-shadow: none;
    cursor: not-allowed;
 }
  .seat label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    background: #e9e5e5;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;
 }
  .seat label:before {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0%);
    background: rgba(255, 255, 255, 0);
    border-radius: 3px;
 }
  .seat label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px #059b3f;
 }